
<div class="container">
    <h1>
        {{
            id
        }}
    </h1>
    
    <div class="mb-12">
        <label for="exampleFormControlInput1" class="form-label">Search</label>
        <input type="text" class="form-control" (keyup)="search()" [(ngModel)]="searchValue" name="searchValue"  placeholder="Post Search">
        {{
            searchValue
        }}
      </div>
    
    <table class="table table-striped">
        <thead>
            <tr >
                <th >Id</th>
                <th>User Id </th>
                <th>Title </th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of tempPosts">
                <td>{{
                    post.id   
                }}
                </td>
                <td>
                    {{
                        post.userId
                    }}
                </td>
                <td>
                    {{
                        post.title  | uppercase
                    }}
                    
                </td>
                <td>
                    {{
                        post.body
                    }}
                </td>
                 <td>
                    <!-- <button (click)="onDelete($event, post)"  >   Delete </button>-->
                    <button (click)="display(post)" > Comments  </button> 
                </td>
            </tr>
        </tbody>
    </table>
</div>
