<!-- <div class="card ">
    <h5>School Tble</h5>
    <p-table [value]="customers" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true"   
        currentPageReportTemplate="Showing {first} to {last} of {{total}} entries" [rowsPerPageOptions]="[5,10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>InstitutionName</th>
                <th>Institution Name En</th>
                <th>Type</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>{{customer.id}}</td>
                <td>{{customer.institutionName}}</td>
                <td>{{customer.institutionNameEn}}</td>
                <td>{{customer.Type}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div> -->
